*{
   margin: 5px;
    padding: 5px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
h1 { color: white;
    
}
.tittle{
   width: 100%;
   background-color: rgba(6, 6, 116, 0.767);
  display: center;
}



.Btnsearch{
    width: 240px;
    height: 35px;
    border: yellowgreen;
    background-color: rgba(43, 61, 226, 0.794);
    border-radius: 10px;
}
.section1{
    position: absolute

}

#namecity{
    width: 225px;
    height: 25px;
    border-radius: 10px;
}

.section2{
    position: absolute ;
    top: 0;
   
    margin: 250px 25px 50px ;
    height: fit-content;
    width: 225px;
    height: 35px;
    background-color: grey;
    border-radius: 10px;
    

}
.currentinfo{
    margin: 0;
    padding-right: inherit;
    font-weight: 400;
}
.containerSection3{
    padding-right: 150px;
    
    border: 1px solid rgb(14, 13, 13);
   /* position: absolute; */
    margin-left: 300px; 
}

.currentinfo{
   font-size: medium;
   color: black;
   margin: 0%;
}

.Forecast{
    margin-left: 300px;
  
    font-size: 25px;

}
.container3{
    /* border: 1px solid rgb(26, 25, 25); */
    height: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 225px;
    margin-left: 300px;
    display: flex; 
   
}
.chart1, .chart2, .chart3, .chart4, .chart5 {
    border: 1px solid rgb(156, 25, 25);
    background-color: blue;
    position: relative;
    width: 200px;
    height: 215px;
    color: white;   
     margin-left: 300px;
     margin: 25px;
     border-radius: 5px;  
   
} 